<% content_for :title do %> Content <% end %>
<h3> Content </h3>
<%= simple_form_for :contact, url: contact_path do |form| %>
<%= form.input :name, autofocus: true %>
<%= form.input :email %>
<%= form.input :content,as: :text,:input_html=>{:class=>"span6"} %>
<%= form.button :submit,'Submit', class: 'btn-primary'%>
<% end %>